* {
    padding: 0;
    margin: 0;
    font-family: 'Ysabeau SC', sans-serif;
}

:root {
    --color-1: #f5ebe0;
    --color-2: #ddbea9;
    --color-3: #cb997e;
    --color-4: #b7b7a4;
    --color-5: #a5a58d;
    --color-6: #6b705c;
    --color-7: #504136;
}

.navbar {
    font-size: 1.2rem;
}
.navbar-logo {
    width: 200px;
    padding-left: 2rem;
}
.menu-bg {
    background-color: var(--color-7) !important;
}
.navbar-custom {
    position: absolute;
}
.col-left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/assets/image-1.jpg');
    background-size: cover;
    height: 80vh;
}
.col-right {
    background-color: var(--color-6);
    height: 80vh;
}
.home-title {
    font-size: 6rem;
    color: #fff;
    padding-top: 13rem;
}
.tan-btn {
    background-color: var(--color-3);
    border: 2px solid var(--color-3)
}
.tan-btn:hover {
    background-color: var(--color-2);
    border: 2px solid var(--color-2);
    color: #fff;
}



/* ABOUT */
.about {
    background-color: var(--color-1);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* PROJECTS */
.projects {
    background-color: var(--color-1);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.slider-img {
    object-position: bottom;
    width: 100%;
    height: 50%;
}
.arrow {
    font-size: 5rem;
    font-weight: 100;
    padding-top: 8rem;
    cursor: pointer;
}


/* CONTACT */
.contact {
    background-color: var(--color-1);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

input.form-control,
textarea.form-control {
    background-color: var(--color-1);
    border: none;
    border-bottom: 1px solid #344e41;
}

textarea.form-control:focus,
input.form-control:focus {
    box-shadow: none;
    background-color: var(--color-1);
    border: none;
    border-bottom: 1px solid #344e41;
}

.contact-btn {
    background-color: var(--color-5);
    border: none;
}

.contact-btn:hover {
    background-color: var(--color-4);
}

.contact-btn:focus,
.contact-btn:active {
    background-color: var(--color-5);
}

.footer {
    background-color: var(--color-5);
}

.footer-text {
    font-size: 1.2rem;
    color: white;
}



/* MEDIA QUERIES */

/* XXL */
@media screen and (max-width:1400px) {}

/* XL */
@media screen and (max-width:1200px) {
    .home-title {
        font-size: 5rem;
    }
}

@media screen and (max-width:1100px) {
    .arrow {
        font-size: 3rem;
    }
}

/* LG */
@media screen and (max-width:991px) {
    .col-left {
        display: none;
    }
    .col-right {
        background-image: linear-gradient(rgba(107, 112, 92, 0.75), rgba(107, 112, 92, 0.75)), url('/assets/image-1.jpg');
        background-size: cover;
    }
    .arrow {
        padding-top: 5rem;
    }
}

/* MD */
@media screen and (max-width:768px) {}

/* SM */
@media screen and (max-width:576px) {
    .home-title {
        font-size: 4rem;
    }
    .col-right {
        height: 100vh;
    }
    .carousel .carousel-item {
        height: 100%;
    }
    .slider-img {
        width: 100%;
    }
    .arrow {
        padding-top: 2rem;
    }
    .footer-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .offcanvas {
        --bs-offcanvas-width: 300px !important;
    }
}
